.calendar td {
  height: 100px;
  vertical-align: top;
  padding: 5px;
}
.date {
  font-weight: bold;
  margin-bottom: 5px;
}
.date.sunday {
  color: #FF7474FF;
}
.date.saturday {
  color: #3593FFFF;
}
.event {
  font-size: 0.8em;
  margin-bottom: 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  padding: 2px 5px;
  border-radius: 3px;
  text-align: center;
}
.event-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
  height: 100%;
}
/* カテゴリー別の色設定 */
.blue {
  background-color: rgba(165, 217, 245, 0.3);
  color: #185CB6FF;
  font-weight: bold;
}
.red {
  background-color: rgba(255, 181, 181, 0.3);
  color: #D62728FF;
  font-weight: bold;
}
.green {
  background-color: rgba(181, 255, 181, 0.3);
  color: #208020FF;
  font-weight: bold;
}
.purple {
  background-color: rgba(229, 181, 255, 0.3);
  color: #662E91FF;
  font-weight: bold;
}
.yellow {
  background-color: rgba(255, 243, 181, 0.3);
  color: #F59F0BFF;
  font-weight: bold;
}

@media (max-width: 768px) {
  th{
    font-size: 0.5em;
    text-align: center;
  }
  .calendar td {
    padding: 2px;
  }
  .date {
    font-size: 0.8em;
  }
  .event {
    font-size: 0.5em;
    padding: 1px;
  }
}